In [2]:
"hello world"

'hello world'

In [3]:
print('This is a string {}'.format('INSERTED'))

This is a string INSERTED

In [4]:
print('The {} {} {}'.format('fox', 'brown', 'quick'))

The fox brown quick

In [5]:
print('The {2} {1} {0}'.format('fox', 'brown', 'quick'))

The quick brown fox

In [6]:
print('The {0} {0} {0}'.format('fox', 'brown', 'quick'))

The fox fox fox

In [8]:
print('The {f} {f} {f}'.format(f='fox', b='brown', q='quick'))

The fox fox fox

In [9]:
result = 100 / 777

In [10]:
result

0.1287001287001287

In [11]:
print("The result was {}".format(result))

The result was 0.1287001287001287

In [12]:
print("The result was {r}".format(r=result))

The result was 0.1287001287001287

In [14]:
print("The result was {r:1.5f}".format(r=result))

The result was 0.12870

In [15]:
result = 194.12345

In [17]:
print("The result was {r:1.2f}".format(r=result))

The result was 194.12

In [18]:
name = 'Edson'

In [19]:
print(f'Hello, his name is {name}')

Hello, his name is Edson

In [20]:
name = "Sam"
age = 3

In [21]:
print(f'{name} is {age} years old')

Sam is 3 years old

In [22]:
print('{} rules'.format('Python'))

Python rules

In [24]:
print('Hello world')

Hello world

In [25]:
MY_LIST = [1, 2, 3]

In [26]:
my_list = ['STRING', 100, 23.2]

In [27]:
len(my_list)

3

In [28]:
mylist = ['one', 'two', 'three']

In [29]:
mylist[0]

'one'

In [30]:
mylist[1:]

['two', 'three']

In [31]:
mylist

['one', 'two', 'three']

In [32]:
another_list = ['four', 'five']

In [33]:
mylist + another_list

['one', 'two', 'three', 'four', 'five']

In [34]:
another_list

['four', 'five']

In [35]:
new_list = mylist + another_list

In [36]:
new_list

['one', 'two', 'three', 'four', 'five']

In [37]:
new_list[0] = 'ONE ALL CAPS'

In [38]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [39]:
new_list.append('six')

In [40]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [41]:
new_list.append('seven')

In [42]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six', 'seven']

In [43]:
new_list.pop()

'seven'

In [44]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five', 'six']

In [45]:
popped_item = new_list.pop()

In [46]:
popped_item

'six'

In [47]:
new_list

['ONE ALL CAPS', 'two', 'three', 'four', 'five']

In [48]:
new_list.pop(0)

'ONE ALL CAPS'

In [49]:
new_list

['two', 'three', 'four', 'five']

In [50]:
new_list = ['a', 'e', 'x', 'b', 'c']
num_list = [4,1,8,3]

In [51]:
new_list.sort()

In [52]:
new_list

['a', 'b', 'c', 'e', 'x']

In [53]:
None

In [54]:
new_list.sort()
my_sorted_list = new_list

In [55]:
my_sorted_list

['a', 'b', 'c', 'e', 'x']

In [56]:
num_list.sort()

In [57]:
num_list

[1, 3, 4, 8]

In [58]:
num_list.reverse()

In [59]:
num_list

[8, 4, 3, 1]