In [1]:
t = (1,2,3)

In [2]:
mylist = [1,2,3]

In [3]:
type(t)

tuple

In [4]:
type(mylist)

list

In [5]:
len(t)

3

In [6]:
t = ('one', 2)

In [7]:
t[0]

'one'

In [8]:
t[-1]

2

In [9]:
t = ('a', 'a', 'b')

In [10]:
t.count('a')

2

In [11]:
t.index('a')

0

In [12]:
t.index('b')

2

In [13]:
t

('a', 'a', 'b')

In [14]:
mylist

[1, 2, 3]

In [15]:
mylist[0] = 'NEW'

In [16]:
mylist

['NEW', 2, 3]

In [17]:
t[0] = 'NEW'

TypeError: 'tuple' object does not support item assignment

In [18]:
my_tuple = ('one', 2, 3 [1,2])

TypeError: 'int' object is not subscriptable

In [19]:
my_tuple = ('one', 2, 3, [1,2])

In [20]:
myset = set()

In [21]:
myset

set()

In [22]:
myset.add(1)

In [23]:
myset

{1}

In [24]:
myset.add(2)

In [25]:
myset

{1, 2}

In [26]:
myset.add(2)

In [27]:
myset

{1, 2}

In [28]:
mylist = [1,1,1,1,1,2,2,2,3,3]

In [29]:
set(mylist)

{1, 2, 3}

In [30]:
mylist

[1, 1, 1, 1, 1, 2, 2, 2, 3, 3]

In [31]:
myset = set('Parallel')

In [32]:
myset

{'P', 'a', 'e', 'l', 'r'}

In [33]:
True

True

In [34]:
False

False

In [35]:
type(False)

bool

In [36]:
1 > 2

False

In [37]:
1 == 1

True

In [38]:
b = None

In [39]:
type(b)

NoneType